/*put yer css here m8y*/
.topper {
  /*background-color: #E0EBEB;*/
  top: 4px;
  font-family: 'Shift', sans-serif;
  color: #3C3C44;
}
.left li {
  display: inline;
  padding: 10px;
}
.left {
  list-style-type:none;
  margin; 0;
  padding: 0;
}

