/*put yer css here m8y*/
.topper {
  /*background-color: #E0EBEB;*/
  border-bottom-style: solid;
  border-bottom: solid #3C3C44;
  text-align: center;
  top: 4px;
  font-family: 'Shift', sans-serif;
  color: #3C3C44;
}
.left li {
  display: inline;
  padding: 4px;
  color: #3C3C44;
}
.left {
  list-style-type:none;
  margin; 0;
  padding: 0;
}
a:visited { text-decoration: none; }
a {
  text-decoration: none
}

